<div class="dashboard-continer">
    <div class="dashboard-header">Recruiter-Dashboard</div>
    <div class="candidateData">
        <mat-card *ngFor="let data of candidateData" (click)="onCardClick(data)">
            <span class="icon-container">
                <mat-icon aria-hidden="false" aria-label="Example menu icon">people</mat-icon>
            </span><br />
            <span class="domain">{{ data.domain }}</span><br />
            <span class="users">{{ data.users }}</span><br />
            <span class="candidates">Candidates</span>
        </mat-card>
    </div>
    <div class="table-container">
        <div class="table-container-header">Schedule List</div>
        <div class="table-contol">
            <!-- <app-schedule-table [candidateData]="candidateDataRow"></app-schedule-table> -->
            <app-schedule-table></app-schedule-table>

        </div>
    </div>

</div>