mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: lightslategray;
    min-width: 15%;
}

mat-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dashboard-header {
    background: #fff;
    padding: 10px;
    padding-left: 15px;
    box-shadow: 4px 5px 4px -4px #757575;
}

.dashboard-continer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.candidateData {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    flex-wrap: wrap;
}

.table-container-header {
    height: 10px;
    background: #fff;
    padding: 20px;
    vertical-align: unset;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #eee;
    font-size: 16px;
    color: blue;
}

.domain {
    font-size: 16px;
}

.users {
    font-weight: bold;
    font-size: 24px;
}

.icon-container {
    border: 3px solid lightslategray;
    border-radius: 10px;
    padding: 5px;
}