<div class="login-form card-container">
    <div class="container">
        <h2> Please login </h2>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" class="form">
            <div class="error-message" *ngIf="isError">{{errorMessage}}</div>
            <mat-form-field floatLabel="never" class="form-element">
                <input type="text" matInput placeholder="Username" formControlName="username">
                <mat-error *ngIf="formGroup.controls['username'].invalid">
                    {{getError('user')}}
                </mat-error>
            </mat-form-field>

            <mat-form-field floatLabel="never" class="form-element">
                <input type="password" matInput placeholder="Password" formControlName="password">
                <mat-error *ngIf="!formGroup.controls['password'].valid">
                    {{getError('pass')}}
                </mat-error>
            </mat-form-field>

            <div class="form-element">
                <button mat-raised-button color="primary" type="submit" class="button"
                    [disabled]="!formGroup.valid">Submit
                    Form</button>
            </div>

        </form>
    </div>
</div>